<ul class="menu">
        {% for page in site.pages %}
          {% if page.name != 'assets/css/style.css' && page.title != 'index' %}
          <li>
            <a href="{{ page.url | absolute_url }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}

        <li><a href="http://wosp-c.uib.es/">WOSP-C 2018</a></li>
        <li><a href="http://wosp-c.ipd.kit.edu/">WOSP-C 2016</a></li>
        <li><a href="http://wosp-c.ipd.kit.edu/wosp_c15/home/index.html">WOSP-C 2015</a></li>
    </ul>