<ul class="menu"> 
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/#call">Call for Contributions</a>
                  </li>
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/#invited">Invited Speakers</a>
                  </li>
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/#pc">Program Committee</a>
                  </li>
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/#program">Original Program</a>
                  </li>
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/#submissions">Submissions</a>
                  </li>
                </ul>
                <h3>Prior WOSP-Cs</h3>
                <ul  class="menu" style="margin-top: 10px">
                <li><a href="http://wosp-c.uib.es/">WOSP-C 2018</a></li>
                <li><a href="https://wosp-c.spec.org">WOSP-C 2017</a></li>
                <li><a href="http://wosp-c.ipd.kit.edu/">WOSP-C 2016</a></li>
                <li><a href="http://wosp-c.ipd.kit.edu/wosp_c15/home/index.html">WOSP-C 2015</a></li>
</ul>            
