<ul class="menu">                      
              <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/accepted.html">Accepted Papers</a>
                  </li>
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/call_for_contributions.html">Call for contributions</a>
                  </li>
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/invited_speakers.html">Invited Speakers</a>
                  </li>
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/pc.html">Program Committee</a>
                  </li>
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/program.html">Program</a>
                  </li>
                  <li>
                    <a href="https://wosp-c.github.io/wosp-c-20/submissions.html">Submissions</a>
                  </li>
                <li><a href="http://wosp-c.uib.es/">WOSP-C 2018</a></li>
                <li><a href="http://wosp-c.ipd.kit.edu/">WOSP-C 2016</a></li>
                <li><a href="http://wosp-c.ipd.kit.edu/wosp_c15/home/index.html">WOSP-C 2015</a></li>
</ul>            