<ul class="menu">                      
              <li>
                    <a href="#accepted">Accepted Papers</a>
                  </li>
                  <li>
                    <a href="#call">Call for Contributions</a>
                  </li>
                  <li>
                    <a href="#invited">Invited Speakers</a>
                  </li>
                  <li>
                    <a href="#pc">Program Committee</a>
                  </li>
                  <li>
                    <a href="#program">Program</a>
                  </li>
                  <li>
                    <a href="#submissions">Submissions</a>
                  </li>
                <li><a href="http://wosp-c.uib.es/">WOSP-C 2018</a></li>
                <li><a href="https://wosp-c.spec.org">WOSP-C 2017</a></li>
                <li><a href="http://wosp-c.ipd.kit.edu/">WOSP-C 2016</a></li>
                <li><a href="http://wosp-c.ipd.kit.edu/wosp_c15/home/index.html">WOSP-C 2015</a></li>
</ul>            